@import '../mixins';

.wrapper {
  background: #002030;
  color: #ff4d4d;

  font: normal 14px/1.3 jaapokkisubtract, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  .page {
    background: url(../assets/images/silvio-kundt-65518.jpg) no-repeat 50% 50%;
    background-size: cover;
  }

  .innerWrapper {
    margin: 0 auto;
    max-width: 310px;

    @include desktop {

    }
  }

  h1 {
    padding: 1em;
    margin: 0;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1;

    img {
      display: inline-block;
      vertical-align: top;
      height: 3rem;
      margin: 0 -0.5em 0;

      @include desktop {
        height: 2.5rem;
      }
    }

    span {
      display: inline-block;
      vertical-align: top;
      line-height: 1;
      margin: 20px 0;
    }

  }

  h2 {
    border-top: 1px solid #ff4d4d;
    padding: 0.5rem 0 0;
    margin: 0 0 3rem;
    font-size: 0.7rem;
    text-align: center;
    font-weight: 300;

    @include tablet {
      margin-bottom: 10rem;
    }

    @include desktop {
      font-size:4rem;
      margin-bottom: 16rem;
    }
  }

  h3 {
    margin: 2rem 0 0.5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-family: jaapokki, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

    @include tablet {
      margin-top: 3rem;
    }

    @include desktop {
      margin-top: 4rem;
    }
  }

  p {
    margin: 1.5rem 0;
    color: #f3f3f3;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 200;
  }

  .signature {
    margin: 10rem 2rem;
    font-size: 1rem;
    color: #ff4d4d;
    text-align: center;
  }
}
