<h1>Jazz</h1>

<h2>Poker x technologie</h2>

<h3>WHY : We love poker</h3>

<p>Nous aimons le poker. Celui qu'on joue autour d'une table avec des amis, à la maison ou en club.<br>
En fait, on aime autant le poker que se retrouver avec des amis pour y jouer.</p>

<p>On est persuadé que l'avenir du jeu est dans la partie entre amis </p>


<h3>HOW : We love technology</h3>

<p>Nous aimons la technologie et on a réussi à allier le meilleur des deux mondes. <br>
On se retrouve autour d'une table comme pour une partie live sauf qu'on joue sur une app. <br>
Les cartes sont dealées automatiquement sur votre smartphone. <br>
Par contre, difficile de lire le comportement d'un joueur en ligne, ici les joueurs se retrouvent face à face autour d'une table.</p>

<p>La technique nous permet d'aller aussi beaucoup plus loin. <br>
Jazz.poker permet aux non voyants de jouer sans aide supplémentaire.</p>

<h3>Organisateur</h3>


<p>La plateforme se charge de rendre ça légal. <br>
L'organisateur est rémunéré quand il organise une partie payante.</p>

<p>Avec Jazz, vous pouvez jouer en tournois simple ou multi table ou en cash game.</p>


<h3>Addiction</h3>

<p>On est persuadé que le cadre social du jeu en club est plus sain que le jeu en ligne, seul à la maison ou au casino.</p>

<strong>Jazz, voici votre instrument, vous êtes le jazzman.</strong>
