<div class="wrapper">

  <div class="page">

    <h1>
      <img src="assets/svgs/heart.svg" alt="">
      <span>Jazz</span>
    </h1>

    <h2>Vivez une nouvelle expérience de poker</h2>

  </div>



  <div class="innerWrapper">


    <h3>We love poker</h3>

    <p>Nous aimons le poker. Celui qu'on joue autour d'une table à la maison ou en club.</p>
    <p>&Agrave; vrai dire, nous aimons autant le poker que se retrouver avec des amis pour y jouer.</p>

    <!--<p>On est persuadé que l'avenir du jeu est dans la partie entre amis </p>-->


    <h3>We love technology</h3>

    <p>Nous aimons la technologie. Et on a réussi à allier le meilleur des deux mondes.</p>

    <p>On se retrouve autour d'une table comme pour une partie live. <br>
      Une tablette au milieu de la table affiche le pot et les cartes communes. <br>
      Chaque joueur lance l'application Jazz sur son smartphone et se connect à l'application Jazz de la tablette.<br>
      Les cartes personnelles sont distribuées automatiquement sur votre smartphone.</p>


    <h3>Organisateurs</h3>

    <p>Vous pouvez créer simplement des parties cash game, des tournois simple ou multi table, gratuit ou en argent
      réel.</p>

    <p>Comme pour une application de poker en ligne, nous nous occupons de respecter la réglementation.<br>
      Il vous suffit d'une tablette reliée à internet pour créer une partie et accueillir vos joueurs.<br>
      Vous êtes commissionné quand vous ouvrez une table en argent réel.</p>

    <p>Libre à vous d'organiser des parties gratuites chez vous avec vos amis ou payantes dans des lieux
      d'exception qui donneront une autre dimension à votre événement.</p>


    <h3>Joueurs</h3>

    <p>Jouez plus de main, plus besoin de mélanger le jeu. L'application fait office de croupier et distribue les cartes
      à votre place.</p>

    <p>Vous jouez en ligne mais avec des joueurs en face de vous, et ça n'a rien à voir avec une partie derrière votre
      écran.</p>

    <h3>L'équipe</h3>

    <p>Fan de poker bien sur et fan de jazz. On aime jouer en bonne compagnie en s'écoutant un bon disque dans une
      ambiance chaleureuse.</p>

    <p>On aime comparer le poker au jazz. Les non initiés ne voient comprennent pas toujours ce qui se passe.</p>


    <h3>Jobs</h3>

    <p>Vous souhaitez rejoindre l'équipe et prendre part à l'aventure ? Voici les profils que nous recherchons :</p>

    <p>Design et/ou Motion design</p>
    <p>Front end et/ou NodeJS</p>
    <p>Growth hacker</p>

    <p>Mettez à jour votre LinkedIn et postulez avec un DM</p>

    <!--<h3>WHAT : Non voyant</h3>
    <p>L'accessibilité est un sujet qui nous tient à coeur. <br>
      Jazz est la première application de poker en ligne qui permettra aux non voyants de jouer avec les voyants.</p>-->

    <!--<h3>WHAT : Addiction</h3>

    <p>On est persuadé que le cadre social du jeu en club est plus sain que le jeu en ligne, seul à la maison ou au
      casino.</p>-->

    <p class="signature">
      <strong>Jazz, vous êtes le jazzman, voici votre instrument.</strong>
    </p>

  </div>

</div>
